{% extends 'base.html.twig' %}

{% block title %}Mon compte - La bonne pierre{% endblock %}

{% block content %}

    <h1>Mon compte</h1>

    bienvenue{{ app.user.firstname }} dans votre compte.<br>
    <hr>

    <a href="{{ path('account_password') }}">modifier mon mot de passe</a>
    <a href="{{ path('account_adress') }}">Gérer mes adresses</a>


{% endblock %}
