{% extends 'home.html.twig' %}

{% block title %}Inscription {% endblock %}

{% block content %}
    <div style="padding: 2rem">
        <h1>inscription</h1>
        {{ form(form) }}
    </div>

{% endblock %}
